In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
%matplotlib inline
from sklearn.preprocessing import StandardScaler

from sklearn.preprocessing import PolynomialFeatures

In [2]:
train_data = pd.read_csv("C:/Users/91810/OneDrive/Desktop/prac hacka/Train.csv")
test_data = pd.read_csv("C:/Users/91810/OneDrive/Desktop/prac hacka/Test.csv")

In [3]:
train_data.head()

   A      B      C      D       E       F       G      H  Target
0  F  0.615  0.455  0.135  1.0590  0.4735  0.2630  0.274       9
1  F  0.515  0.395  0.140  0.6860  0.2810  0.1255  0.220      12
2  M  0.660  0.530  0.175  1.5830  0.7395  0.3505  0.405      10
3  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150      15
4  M  0.495  0.400  0.155  0.8085  0.2345  0.1155  0.350       6

In [4]:
df = pd.DataFrame({'A': ["M", "F", "I"]})
letter_to_integer = {"M": 0, "F": 0.1, "I": 0.2}
train_data['A'] = train_data['A'].map(letter_to_integer)
test_data['A'] = test_data['A'].map(letter_to_integer)

In [5]:

train_data.head()

     A      B      C      D       E       F       G      H  Target
0  0.1  0.615  0.455  0.135  1.0590  0.4735  0.2630  0.274       9
1  0.1  0.515  0.395  0.140  0.6860  0.2810  0.1255  0.220      12
2  0.0  0.660  0.530  0.175  1.5830  0.7395  0.3505  0.405      10
3  0.0  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150      15
4  0.0  0.495  0.400  0.155  0.8085  0.2345  0.1155  0.350       6

In [6]:


features = train_data[['A','B','C','D','E','F','G','H']]
target = train_data[['Target']]
features

        A      B      C      D       E       F       G      H
0     0.1  0.615  0.455  0.135  1.0590  0.4735  0.2630  0.274
1     0.1  0.515  0.395  0.140  0.6860  0.2810  0.1255  0.220
2     0.0  0.660  0.530  0.175  1.5830  0.7395  0.3505  0.405
3     0.0  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150
4     0.0  0.495  0.400  0.155  0.8085  0.2345  0.1155  0.350
...   ...    ...    ...    ...     ...     ...     ...    ...
3127  0.1  0.490  0.400  0.115  0.5690  0.2560  0.1325  0.145
3128  0.1  0.670  0.550  0.190  1.3905  0.5425  0.3035  0.400
3129  0.0  0.510  0.395  0.125  0.5805  0.2440  0.1335  0.188
3130  0.0  0.575  0.465  0.120  1.0535  0.5160  0.2185  0.235
3131  0.1  0.595  0.475  0.160  1.1405  0.5470  0.2310  0.271

[3132 rows x 8 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.1, random_state=0)

In [8]:



from sklearn.linear_model import LinearRegression


#regressor.fit(X_train,y_train)





poly_features = PolynomialFeatures(degree=2)
X_train_poly = poly_features.fit_transform(X_train)
X_test_poly = poly_features.transform(X_test)


model = LinearRegression()
model.fit(X_train_poly, y_train)


y_pred = model.predict(X_test_poly)

mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 4.47087296095101

In [9]:
from sklearn.metrics import r2_score

In [10]:
r2_score(y_test,y_pred)

0.6220818194025586

In [11]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred, squared = False)

2.114443889288862

In [12]:
Index=test_data['Index']
X_test = test_data.drop(['Index'], axis = 1)
X_test_polyd=poly_features.transform(X_test)

In [13]:
y_test = model.predict(X_test_polyd)
result = pd.DataFrame(Index, columns = ['Index'])
result['Target']= y_test
result

      Index     Target
0       866  11.939312
1      1483   9.955039
2       599  15.712884
3      1702  11.799134
4       670  12.155625
...     ...        ...
1040    532   9.479595
1041   3417   9.583834
1042   1505  11.780322
1043   2245  11.642235
1044   2428   9.423587

[1045 rows x 2 columns]

In [14]:
result.to_csv("C:/Users/91810/OneDrive/Desktop/prac hacka/submission.csv", index = False)